.container{
  width: 300px;
}

.container h1{
  font-size: 30px;
  text-align: center;
}

.form-control{
text-align: left;
float: left;
}

.add{
margin-top: 100px;
text-align: center;
float: left;
margin-left: 30%;
}

.remove {
    float: right;
    cursor: pointer;
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px;
}

input[type="text"] {
    outline: 0;
    width: 90%;
    }


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


